body {
  height: 100% !important;
  overflow-x: hidden !important;
  margin-bottom: 0px !important;
  padding-bottom: 50px !important;
}

main {
  height: calc(100%);
}

.main {
  margin-top: 56px;
  height: calc(100% - 56px);
}

.calendar-container {
  height: 100%;
  min-height: 415px !important;
}

#calendarEl {
  height: 650px !important;
  width: 100%;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

.fc-toolbar-chunk div:nth-child(1) {
  position: absolute !important;
  top: 96px;
  left: 10px;
}

.fc-event-title-container {
  cursor: pointer;
}

.fc-event-main {
  z-index: 0 !important;
}

.fc-col-header-cell {
  background-color: #3f464d !important;
}

.fc-scrollgrid-sync-inner > a {
  color: #dddddd !important;
  cursor: pointer;
}

.fc-scrollgrid-sync-inner > a:hover {
  color: #7089db !important;
  cursor: auto !important;
  text-decoration: none !important;
}

.fc-toolbar-title {
  color: #dddddd !important;
}

.fc-daygrid-day-number {
  color: #dddddd !important;
}

.fc-daygrid-day-number:hover {
  color: black !important;
  text-decoration: none !important;
}

.fc-daygrid-day-number {
  color: #dddddd !important;
}

.fc-daygrid-day-number:hover {
  color: #7089db !important;
}

/*responsive design*/

/*popovers*/

.fc-scrollgrid-section,
.fc-scroller,
.fc-scroller-harness,
.fc-daygrid-body,
.fc-scrollgrid-sync-table {
  overflow: visible !important;
}

.calendar-event-popover {
  position: absolute !important;
  bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 16px !important;
  border: 1px solid #d4d4d4;
  background-color: white;
  min-width: 300px !important;
  max-width: 300px !important;
  color: black;
}

.calendar-event-popover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
}

.calendar-event-color {
  width: 12px;
  height: 12px;
  border-radius: 1000px;
  /*background-color: ??*/ /*Event color*/
}

.calendar-popover-close {
  border: 0px;
  background-color: transparent;
}

.calendar-popover-close:hover > span {
  color: #5373db;
}

.calendar-popover-close:focus {
  border: 0px;
  outline: 0px;
}

.calendar-event-popover {
  position: relative;
}

.calendar-event-popover-header {
  padding-top: 4px;
  padding-bottom: 4px;
}

.popover-heading {
  max-width: 280px;
  overflow: hidden;
}

.popover-heading > h5 {
  max-width: 100%;
}

/*.calendar-button{
	width: auto!important;
}*/

/*responsive*/

.fc-daygrid-day-number,
.fc-daygrid-event {
  z-index: -1 !important;
}

.fc-daygrid-event {
  z-index: 1 !important;
}

.popover-background {
  width: auto;
  height: auto;
}

@media only screen and (min-width: 991px) and (max-width: 1020px) {
  body {
    overflow-y: visible !important;
  }
}

@media only screen and (max-width: 991px) {
  html {
    position: relative;
    min-height: 100%;
  }

  .popover-heading {
    overflow: hidden;
  }

  .popover-background {
    top: 0;
    left: 0;
    position: fixed;
    width: 150000vh;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100000000000000000000000000000000000000000000000 !important;
  }

  .calendar-event-popover {
    min-width: 350px !important;
    max-width: 350px !important;
    position: fixed !important;
    top: calc(50% - 100px) !important;
    left: calc(50% - 175px) !important;
    margin-left: auto !important;
    bottom: auto;
    z-index: 1000000000000000000000000000000000000000000000001 !important;
  }

  .calendar-event-popover::after {
    border-width: 0px;
  }

  .calendar-container {
    -ms-flex-flow: wrap !important;
    flex-flow: wrap !important;
  }

  .calendar-edit-open {
    display: none !important;
  }

  .calendar-edit-bar {
    padding-left: 15px !important;
    padding-right: 15px !important;
    overflow-y: auto;
    margin-left: 0px;
    margin-top: 20px;
    width: 100% !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 30px !important;
    height: auto;
  }

  .calendar-edit-close {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  #calendarEl {
    height: 588px !important;
  }
}

@media only screen and (max-width: 575px) {
  #calendarEl {
    height: 488px !important;
  }

  main {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .calendar-edit-main {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .calendar-container-divider {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}

@media only screen and (max-width: 350px) {
  .calendar-event-popover {
    min-width: calc(100%) !important;
    max-width: calc(100%) !important;
    left: 0 !important;
  }
}

@media only screen and (max-width: 350px) {
  .popover-heading {
    max-width: 200px;
  }
}
